.netting-detail {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: var(--colorGraySilver);
}

.netting-detail > .netting-status-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--colorWhite);
}

.netting-detail > .netting-status-nav > img {
    padding: var(--size-10) var(--size-20);
    cursor: pointer;
}

.netting-detail > .netting-status-nav > *:last-child {
    font-weight: bold;
    margin-left: var(--size-10);
    align-self: center;
    font-size: var(--fontSize-14);
}

.netting-detail > .payment-card-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--size-20);
    margin-left: var(--size-20);
    margin-right: var(--size-20);
    margin-top: var(--size-20);
}

.netting-detail > .payment-card-group > *:first-child {
    grid-area: 1/1;
}

.netting-detail > .payment-card-group > *:nth-child(1) {
    grid-area: 1/2;
}

.netting-detail > .payment-card-group > *:last-child {
    grid-area: 1/3;
}

.transaction-group {
    display: grid;
    margin: var(--size-20) var(--size-20) 0 var(--size-20);
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--size-20);
    min-height: var(--size-300);
}

.transaction-group > div {
    background-color: var(--colorWhite);
    border-radius: var(--size-4);
    padding: var(--size-10);
    box-shadow: 0 0 var(--size-4) var(--colorGrayLight);
}

.transaction-group > div:first-child {
    grid-area: 1/1/1/span 2;
    display: flex;
    flex-direction: column;
}

.transaction-group > div:last-child {
    grid-area: 1/3;
    display: flex;
    flex-direction: column;
}

.label-icon {
    display: flex;
    align-items: center;
    color: var(--colorGray);
}

.label-icon img {
    margin-right: var(--size-8);
    width: 16px;
    height: 16px;
}

@media only screen and (max-width: 600px) {
    .netting-detail > .payment-card-group {
        display: flex;
        flex-direction: column;
        gap: var(--size-20);
    }

    .transaction-group {
        display: flex;
        flex-direction: column;
        gap: var(--size-20);
    }
}