.btn-account {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.08);
    padding: var(--size-6) var(--size-10);
    border-radius: var(--size-4);
    cursor: pointer;
}

.btn-account :nth-child(2),
.btn-account :nth-child(3) {
    margin-left: var(--size-10);
    color: white;
}