.rate-comparison {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.rate-comparison .compare-filter {
    display: grid;
    background-color: var(--colorWhite);
    padding: var(--size-16) 8vw;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: var(--size-16);
    align-items: center;
}

.rate-comparison .compare-filter > *:nth-child(1) {
    grid-area: 1/1;
}

.rate-comparison .compare-filter > *:nth-child(2) {
    grid-area: 2/1;
}

.rate-comparison .compare-filter > *:nth-child(3) {
    grid-area: 1/2;
}

.rate-comparison .compare-filter > *:nth-child(4) {
    grid-area: 2/2;
}

.rate-comparison .compare-filter > *:nth-child(5) {
    grid-area: 1/3;
}

.rate-comparison .compare-filter > *:nth-child(6) {
    grid-area: 2/3;
}

.rate-comparison .compare-filter > *:nth-child(7) {
    grid-area: 1/4;
}

.rate-comparison .compare-filter > *:nth-child(8) {
    grid-area: 2/4;
}

.rate-comparison .compare-filter > *:nth-child(9) {
    grid-area: 2/5;
}

@media only screen and (max-width: 600px) {

    .rate-comparison .compare-filter {
        display: flex;
        flex-direction: column;
        background-color: var(--colorWhite);
        padding: var(--size-16) 8vw;
        gap: var(--size-16);
        flex-wrap: wrap;
        align-items: stretch;
    }
}

.rate-comparison .compare-content {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    margin: var(--size-24) 8vw;
    background-color: var(--colorWhite);
    border-radius: var(--size-4);
    box-shadow: 0 0 var(--size-4) var(--colorGrayLight);
    padding: var(--size-10);
}
.rate-comparison .compare-content >span{
    text-align: center;
}

.compare-action {
    display: flex;
    gap: var(--size-10);
}

.compare-action > button:last-child {
    color: var(--colorWhite);
    background-color: var(--colorPrimary);
    display: flex;
    gap: var(--size-10);
    align-items: center;
}

.compare-action > button:first-child {
    background-color: var(--colorWhite);
    display: flex;
    gap: var(--size-10);
    align-items: center;
}

.compare-fx {
    display: flex;
    flex-direction: column;
    gap: var(--size-8);
}

.compare-fx > *:first-child {
    color: var(--colorPrimary);
}

.compare-fx > *:last-child {
    color: var(--colorGray);
    font-size: var(--fontSize-12);
}